.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
  background: url('img/sigma.gif') center/cover no-repeat;
  pointer-events: none;
}